@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen font-body;
}

a {
  @apply text-current no-underline;
}

input,
textarea,
select,
button {
  @apply font-body;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
